/*
Colors used:
Dark Teal: #325259
Teal: #58838C
Light Teal: #99B8BF
Peach: #F2B6A0
Tan: #A66A5D
Dark Gray: #333333
Blue: #035998
Teal hover: #038198
purple visited: #5F267E
*/
* {
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.6;
  color: #333333
}

header {
  background-color: #547D86;
  padding: 10px 0 4px;
  margin: 0 auto;
  border-bottom: 3px solid #99B8BF;
  text-align: unset;
  padding: 10px;
  -webkit-box-shadow: 0px 5px 7px 0px rgba(186, 186, 186, 0.75);
  -moz-box-shadow: 0px 5px 7px 0px rgba(186, 186, 186, 0.75);
  box-shadow: 0px 5px 7px 0px rgba(186, 186, 186, 0.75);
  position: relative;
}

h1, h2, h3, h4 {
  line-height: 1.4;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-size: 1.75em;
  font-weight: 700;
}

h3 {
  font-size: 1.5em;
  font-weight: 400;
  text-align: left;
}

h4 {
  font-size: 1em;
  font-weight: 400;
}

p {
  text-align: left;
}

.contact {
  text-align: center;
}

img {
  max-width: 100%;
}

img:contact {
  height: 32px;
}

img:logo {
  width: 30%;
  max-width: 150px;
  height: auto;
  padding: 10px;
}

a:hover,
a:focus {
  color: #ffffff;
  text-decoration: none;
}

a:visited {
  color: #5F267E;
}

a:active {
  color: #FFFFFF;
}

a:-webkit-any-link {
  text-decoration: none;
}

.button {
  display: inline-block;
  background-color: #547D86;
  color: #ffffff;
  font-weight: 400;
  padding: 10px;
  border-radius: 4px;
  border-bottom: 1px solid #99B8BF;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.6;
  text-decoration: none;
  color: #ffffff;
}

.button.contact {
  background-color: transparent;
  color: #58838C;
  text-transform: uppercase;
  border: 2px solid #547D86;
}

.button.contact:hover {
  background-color: #547D86;
  color: #ffffff;
}

svg {
  width: 32px;
  height: 32px;
}

#graphic {
  width: 100%;
  max-width: 100%;
  height: auto;
}

/* Layout styling */
.container {
  max-width: 1200px;
  padding: 0 15px;
  clear: both;
  margin-left: auto;
  margin-right: auto;
}

.row {
  margin: 25px 0;
  display: block;
  clear: both;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

#hero {
  background-color: #FFFFFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
  text-align: center;
}

#hero span {
  display: block;
}

nav>ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav>ul>li>a {
  padding: 0 5px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.75em;
  color: #ffffff;
}

nav>ul>li>a:visited {
  color: #FFFFFF;
}

.navtoggle li:not(:last-child) {
  display: none;
}

.navtoggle.responsive li {
  display: block;
  padding: 10px 0;
  border-top: 0.5px solid #FFFFFF;
}

.navtoggle, .navtoggle.responsive {
  position: relative;
}

.navtoggle li .icon {
  position: absolute;
  right: 0;
  top: 2px;
  font-size: 20px;
  padding-right: 0;
}

.navtoggle.responsive nav {
  padding: 24px 0 0;
  solid: #FFFFFF;
}

.navtoggle.responsive li:last-child {
  padding: 0 0 10px;
}

main {
  padding-top: 15px;
}

footer {
  text-align: center;
}

@keyframes color-change {
  0% {
    fill: #F2F2F2;
  }

  50% {
    fill: #CE9E3E;
  }

  100% {
    fill: #A76D0C;
  }
}

.st0 {
  animation: 3s color-change infinite alternate linear;
}

@keyframes graphic-move {
  from {
    transform: translate(0, 50px);
  }

  to {
    transform: translate(200px, 50px);
  }
}

.st9 {
  animation: 20s graphic-move infinite alternate linear;
}

.st5 {
  animation: 20s graphic-move infinite alternate linear;
}

/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {
  header {
    text-align: unset;
    padding: 20px;
  }

  nav>ul {
    margin: 1em 0;
  }

  nav>ul>li {
    display: inline-block;
  }

  .navtoggle li:not(:last-child) {
    display: inline-block;
  }

  .navtoggle li:last-child {
    display: none;
  }

  img:logo {
    min-width: 641px;
  }

  .col-md-1 {
    width: 16.66%;
  }

  .col-md-2 {
    width: 33.33%;
  }

  .col-md-3 {
    width: 50%;
  }

  .col-md-4 {
    width: 66.64%;
  }

  .col-md-5 {
    width: 83.33%;
  }

  .col-md-6 {
    width: 100%;
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }

  p {
    text-align: left;
    font-size: 1.25em;
  }

  li {
    font-size: 1.25em;
  }

  nav>ul>li>a {
    font-size: .75em;
    padding: 20px;
  }

  nav {
    font-size: 1.25em;
  }

  .button {
    font-size: 1.25em;
  }
}

/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {
  .col-1 {
    width: 8.33%;
  }

  .col-2 {
    width: 16.66%;
  }

  .col-3 {
    width: 25%;
  }

  .col-4 {
    width: 33.33%;
  }

  .col-5 {
    width: 41.66%;
  }

  .col-6 {
    width: 50%;
  }

  .col-7 {
    width: 58.33%;
  }

  .col-8 {
    width: 66.66%;
  }

  .col-9 {
    width: 75%;
  }

  .col-10 {
    width: 83.33%;
  }

  .col-11 {
    width: 91.66%;
  }

  .col-12 {
    width: 100%;
  }

  h1 {
    font-size: 2em;
    font-weight: 700;
    text-align: center;
  }

  h2 {
    font-size: 1.75em;
    font-weight: 700;
  }

  h3 {
    font-size: 1.5em;
    font-weight: 400;
    text-align: left;
  }

  h4 {
    font-size: 1.25em;
    font-weight: 400;
  }

  p {
    text-align: left;
    font-size: 1.25em;
  }

  li {
    font-size: 1.25em;
  }

  nav {
    font-size: 1.25em;
  }

  .button {
    font-size: 1.25em;
  }
}

/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
  @media only screen and (min-width: 1024px) {
    .col-1 {
      width: 8.33%;
    }

    .col-2 {
      width: 16.66%;
    }

    .col-3 {
      width: 25%;
    }

    .col-4 {
      width: 33.33%;
    }

    .col-5 {
      width: 41.66%;
    }

    .col-6 {
      width: 50%;
    }

    .col-7 {
      width: 58.33%;
    }

    .col-8 {
      width: 66.66%;
    }

    .col-9 {
      width: 75%;
    }

    .col-10 {
      width: 83.33%;
    }

    .col-11 {
      width: 91.66%;
    }

    .col-12 {
      width: 100%;
    }

    h1 {
      font-size: 2.25em;
      font-weight: 700;
      text-align: center;
    }

    h2 {
      font-size: 2em;
      font-weight: 700;
    }

    h3 {
      font-size: 1.75em;
      font-weight: 400;
      text-align: left;
    }

    h4 {
      font-size: 1.5em;
      font-weight: 400;
    }

    p {
      text-align: left;
      font-size: 1.5em;
    }

    li {
      font-size: 1.5em;
    }

    nav {
      font-size: 1.25em;
    }
  }

  .button {
    font-size: 1.25em;
  }

  /* ==============================
Extra-large devices (1920px or larger)
================================= */
  @media only screen and (min-width: 1920px) {
    .col-1 {
      width: 8.33%;
    }

    .col-2 {
      width: 16.66%;
    }

    .col-3 {
      width: 25%;
    }

    .col-4 {
      width: 33.33%;
    }

    .col-5 {
      width: 41.66%;
    }

    .col-6 {
      width: 50%;
    }

    .col-7 {
      width: 58.33%;
    }

    .col-8 {
      width: 66.66%;
    }

    .col-9 {
      width: 75%;
    }

    .col-10 {
      width: 83.33%;
    }

    .col-11 {
      width: 91.66%;
    }

    .col-12 {
      width: 100%;
    }
  }

  [class*="col-"] {
    float: left;
    padding: 10px;
  }
